.logo {
  height: 50px;
}
.ayrac {
  font-size: 20px;
  margin: 0px 20px;
  color: white;
}

.nav-bg {
  background-color: rgba(122, 122, 122, 0.356);
}

.header-yuk{

  height: calc(38vh);


}

.sayfa-baslik h3{
  color: #f4b70b;
  font-weight: bold;
}

.sayfa-baslik p{
  color: #ffff;
  font-weight: bold;
}

.ust-kisim {
  background-image: url(img/ust-bg.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ust-kisim-sayfalar {
  background-image: url(img/ust-bg-2.jpg);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-item a {
  color: #ffff;
  font-size: 16px;
  font-weight: bold;
}

.nav-item a:hover {
  color: #f4b70b;
}

.navbar-toggler{
  color: #f4b70b;
  border: 1px solid #f4b70b;
}

.navbar-toggler:hover{
  border: none;
}

.navbar-toggler-icon {
  /* background-color: white; */
}
@media screen and (max-width: 992px) {
  .ayrac {
    display: none;
  }
  .nav-item:hover {
    background-color: black;
  }

  .navbar-toggler{
    z-index: 99;
    position: fixed;
    right: 10px;
    top: 20px;
    
    }

    .navbar-toggler:hover{
      border: 1px solid black;
    }
    
    .pozisyon{
      width: 100%;
      height: 100VH;
      background-color: #f4b70b;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 0;
      padding-top: 70px;
    }

}





.bosluk {
  margin-top: 65px;
}

/* teklif kısmı */

.teklif {
  height: 60px;
}

.tirnak {
  color: #f4b70b;
  font-size: 36px;
  font-weight: bold;
}

.imza {
  font-size: 20px;
}

/* hizmetlerimiz */

.hizmetlerimiz {
  background-color: #f4b70b;
}

/* Çalışanlar */

/* .calisan_foto {
  height: 200px;
  width: 200px;
  background-color: #2c3e50;
  border-radius: 100px;
} */

.calisan_foto img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

/* .calisan {
  width: 200px;
} */

/* slogan */

.tirnak1 {
  color: #f4b70b;
  font-size: 52px;
  font-weight: bold;
}

.soz {
  font-size: 40px;
  color: white;
}

.slogan {
  background-image: url(img/ust-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 500px;
}

.roket-icon {
  font-size: 150px;
  color: white;
}

/* Çalışmalarımız */

.calisma {
  padding: 5px;
  border: 1px solid transparent;
}

.calisma img {
  height: 150px;
}

.calisma:hover {
  border: 1px solid grey;
  cursor: pointer;
}

/* Footer */

.footer {
  background-color: #2c3e50;
  height: 300px;
  color: #95a5a6;
}

.footer-sutun {
  height: 300px;
}

footer p {
  font-size: 18px;
}

/* pörtföyümüz */

.kurumsal-calisma{
  height: 150px;
}


/* BLOG */

.devam a:hover{
  color: black !important;
}

/* iletişim */

.simgeler{
  font-size: 16px;
}